/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#logoPrestamos{
	-fx-background-color: #1A1D56;
}

#etiquetaBorrarTodo{
	-fx-text-fill: #373578;
}

#etiquetaBorrarTodo :active{
	-fx-background-color: #1A1D56; 
}

.button{
	-fx-background-color:#1A1D56;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
}