/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-color: #1a1d56; 
	-fx-text-fill:#fff;
	-fx-font-weight: bold; 
	-fx-font-size: 20px;
}

.form-control{
	-fx-font-size: 20px;
}

